<footer th:fragment="footer">
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sweetalert.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom.js}"></script>

	<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-1.19.1.validate.min.js}"></script>
</footer>
