<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <h2 class="text-center text-info">Spring Boot Social Login Example</h2><hr/>
        <ul>
        	<li>ID = <span th:text="${user.id}"></span></li>
        	<li>Name = <span th:text="${user.name}"></span></li>
        	<li>Email = <span th:text="${user.email}"></span></li>
        </ul>
    </div>
</body>
</html>